In [2]:
import pickle

# Version 1

#### - train.csv

In [10]:
%%time
train_v1 = pickle.load(open("./data/final_train_Ver1.pkl", "rb"))
print("test data shape: "+str(train.shape))

test data shape: (95674, 5494)
CPU times: user 263 ms, sys: 651 ms, total: 914 ms
Wall time: 1.41 s

#### - test.csv

In [11]:
%%time
test_v1 = pickle.load(open("./data/final_test_Ver1.pkl", "rb"))
print("test data shape: "+str(test.shape))

test data shape: (95674, 5493)
CPU times: user 192 ms, sys: 494 ms, total: 687 ms
Wall time: 700 ms

In [12]:
train_v1.tail()

,TripType,Sunday,Saturday,Friday,Monday,Tuesday,Wednesday,Thursday,SC__-12,SC__-10,...,FLN_9817.0,FLN_9818.0,FLN_9865.0,FLN_9894.0,FLN_9895.0,FLN_9916.0,FLN_9940.0,FLN_9945.0,FLN_9969.0,FLN_9999.0
VisitNumber,,,,,,,,,,,,,,,,,,,,,
191343,25,7,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191344,22,5,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191345,39,13,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191346,39,17,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
191347,8,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

---

# Version 2

#### - train.csv

In [8]:
%%time
train_v2 = pd.read_csv("./data/final_train_Ver2.csv")
print("test data shape: "+str(train.shape))

test data shape: (95674, 5494)
CPU times: user 4min 37s, sys: 38 s, total: 5min 15s
Wall time: 5min 22s

#### - test.csv

In [9]:
%%time
test_v2 = pd.read_csv("./data/final_test_Ver2.csv")
print("test data shape: "+str(train.shape))

test data shape: (95674, 5494)
CPU times: user 4min 24s, sys: 28.7 s, total: 4min 53s
Wall time: 4min 56s

In [13]:
train_v2.tail()

,VisitNumber,TripType,Sunday,Saturday,Friday,Monday,Tuesday,Wednesday,Thursday,Upc_3082.0,...,FLN_9817.0,FLN_9818.0,FLN_9865.0,FLN_9894.0,FLN_9895.0,FLN_9916.0,FLN_9940.0,FLN_9945.0,FLN_9969.0,FLN_9999.0
95669,191343,25,7,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
95670,191344,22,5,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
95671,191345,39,13,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
95672,191346,39,17,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0
95673,191347,8,2,0,0,0,0,0,0,0.0,...,0,0,0,0,0,0,0,0,0,0

---

# Version 3

#### - train.csv

In [14]:
%%time
train_v3 = pickle.load(open("./data/final_train_Ver3.pkl", "rb"))
print("test data shape: "+str(train.shape))

test data shape: (95674, 5494)
CPU times: user 275 ms, sys: 683 ms, total: 958 ms
Wall time: 971 ms

#### - test.csv

In [15]:
%%time
test_v3 = pickle.load(open("./data/final_test_Ver3.pkl", "rb"))
print("test data shape: "+str(test.shape))

test data shape: (95674, 5493)
CPU times: user 268 ms, sys: 711 ms, total: 979 ms
Wall time: 998 ms

In [16]:
train_v3.tail()

,TripType,Min,Max,Mean,Max - Min,FLN_count,Upc_count,DD_count,Sum,FLN_DD_Ratio,...,FLN_9817.0,FLN_9818.0,FLN_9865.0,FLN_9894.0,FLN_9895.0,FLN_9916.0,FLN_9940.0,FLN_9945.0,FLN_9969.0,FLN_9999.0
VisitNumber,,,,,,,,,,,,,,,,,,,,,
191343,25,7,42,21.000,35,35,49,21,63,11.666667,...,0,0,0,0,0,0,0,0,0,0
191344,22,5,20,12.500,15,15,25,10,25,7.500000,...,0,0,0,0,0,0,0,0,0,0
191345,39,13,65,27.625,52,156,169,104,221,19.500000,...,0,0,0,0,0,0,0,0,0,0
191346,39,17,85,36.125,68,272,289,136,289,34.000000,...,0,0,0,0,0,0,0,0,0,0
191347,8,2,2,2.000,0,4,4,4,4,2.000000,...,0,0,0,0,0,0,0,0,0,0

---